# List declared aliases, functions, paths
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

# Update
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;'

# Set ls color
if ls --color > /dev/null 2>&1; then
# GNU `ls`
	colorflag="--color"
else
# macOS `ls`
	colorflag="-G"
fi

alias ls='command ls ${colorflag}'

# TODO
alias gg='git grep -E'
alias zrc="vim ~/.zshrc"
alias vrc="vim ~/.vimrc"
alias zpui="zplug update && zplug install"

# Functions
lscolors() {
    for i in {0..255}; do print -Pn “%K{$i} %k%F{$i}${(l:3::0:)i}%f “ ${${(M)$((i%6)):#3}:+$’\n’}; done
}
sshkeygen() {
    ssh-keygen -t ed25519 -f ~/.ssh/"$1" -C "$2"
}
# Install dotfiles
dotinstall() {
    bash <(wget -qO- https://raw.githubusercontent.com/Randallsm83/dotfiles/refs/heads/master/install.sh)
}
